{% extends "index.html" %}

{% block title %}
<title>Contacts</title>
{% endblock %}

{% block content %}
    <div class="projectimage">
    </div>
    
    <div class="full-page">
        <div class="row full-height full-width">
            <div class="col-md-10">
                <iframe src="/static/files/cyriac-thibaudeau.pdf" width="100%" height="100%"> </iframe>
            </div>
            <div class="col-md-2">
                <div class="text-center">
                    <a class="text-center " href="http://127.0.0.1:8000/views/return-files" target="blank" >
                        <button class="myBtn" >Download my CV !</button>
                    </a>
                </div>
                
            </div>
            
        </div>
    </div>
    
{% endblock %}