{% extends "index.html" %}

{% block title %}
<title>Downloads</title>
{% endblock %}

{% block content %}
    <div class="projectimage">
    </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="grid-block text-center blockflex">
                        <a class="text-center" href="http://127.0.0.1:8000/views/return-files" target="blank" >
                            <button class='btn btn-default' style="color: gainsboro;">Download my CV !
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    
{% endblock %}