<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body {background-color: rgb(0, 0, 0); font-family: courier; font-size: 100%;}
            h1   {color: rgb(205, 205, 230); font-family: courier; font-size: 150%;}
            p    {color: rgb(228, 206, 206); font-family: courier; font-size: 100%;}
        </style>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
        <title>Home</title>
        {% endblock %}
    </head>
    <body>
        <div>
            {% block content %} 
            <h1>Home Page</h1>
            <a href= http://127.0.0.1:8000/views>Home</a>
            <a href= http://127.0.0.1:8000/views/projects>Projects</a>
            <a href= http://127.0.0.1:8000/views/json>Json</a>
            <a href= http://127.0.0.1:8000/views/profile/Cyriac>Cyriac's profile</a>
            <a href= http://127.0.0.1:8000/views/file-downloads> Téléchargements</a>
            <p>Hello, {{ name }} !</p>
            {% endblock %}
        </div>
        <script 
        
        type="text/javascript" 
        src="{{ url_for('static', filename = 'index.js' )}}">

        </script>
    </body>
</html>