* {
  margin: 0;
  padding: 0;
}

.blockflex {
  height: 300px;
  border: red dashed 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Définition du style du corps de la page */
body, html {
  height: 100%;
  width: 100%;
}