{% extends "index.html" %}

{%block title %}
<title>Projects</title>
{% endblock %}

{% block content %}
<div class="container mt-4">
    
    <h1 class="text-center">
        My projects:
    </h1>

    <div class="text-center">
        <h5 >Here's the page on wich I'll put links or other ressources about projects I worked on solo or with someone else. Feel free to visit them all ! </h5>
    </div>

    <div>
        <a href= https://github.com/uvsq22102103/Projet-Huffmann>Projet Huffman</a> <span class="badge badge-pill badge-primary">GitHub</span>
    </div>

    <div>
        <a href= https://github.com/uvsq22104322/GPS_Courchevel>Projet Courchevel</a> <span class="badge badge-pill badge-primary">GitHub</span>
    </div>
</div>
{% endblock %}