{% extends "index.html" %}

{%block title %}
<title>Projects</title>
{% endblock %}

{% block content %}
<div class="projectimage">
</div>

<div class="container mt-4">
    <h1 class="text-center" style="color:gainsboro;">
        Mes projets :
    </h1>
</div>

<div class="container-scrollable">
    <div class="scrollable-content">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 text-bg-dark">
                    <img src="/static/files/layered-waves-haikei.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"> <a href= https://github.com/uvsq22102103/Projet-Huffmann>Projet Huffman</a>  </h5>
                    <p class="card-text">Une application simple d'utilisation ayant comme but d'encoder et de décoder du texte grâce au code d'Huffman</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"> <span class="badge rounded-pill bg-primary">GitHub</span> </small>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 text-bg-dark">
                    <img src="/static/files/layered-waves-haikei.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"> <a href= https://github.com/uvsq22104322/GPS_Courchevel>Projet Courchevel</a> </h5>
                    <p class="card-text">Trouvez le chemin le plus court selon votre niveau sur toute la station de ski de Courchevel</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"> <span class="badge rounded-pill bg-primary">GitHub</span> </small>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 text-bg-dark">
                    <img src="/static/files/layered-waves-haikei.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"> <a href= https://github.com/uvsq22104322/portfolio_web>Portofilo</a> </h5>
                    <p class="card-text">Ce site web ayant comme but d'organiser et de rassembler mes projets</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"> <span class="badge rounded-pill bg-primary">GitHub</span> </small>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>


{% endblock %}