{% extends "index.html" %}

{%block title %}
<title>Projects</title>
{% endblock %}

{% block content %}
<div class="svg-bg full-page"></div>

    <div class="container mt-4">
        <h1 class="text-center" style="color:gainsboro;">
            My projects :
        </h1>

        <div class="text-center">
            <h5 style="color: gainsboro;">Here's the page on wich I'll put links or others ressources about projects I worked on solo or with someone else. Feel free to visit them all ! </h5>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-4">
              <div class="grid-block text-center blockflex">
                <a href= https://github.com/uvsq22102103/Projet-Huffmann>Projet Huffman</a> 
                <span class="badge rounded-pill bg-primary">GitHub</span>
              </div>
          </div>
          <div class="col-md-4">
              <div class="grid-block text-center blockflex">
                <a href= https://github.com/uvsq22104322/GPS_Courchevel>Projet Courchevel</a>
                <span class="badge rounded-pill bg-primary">GitHub</span>
              </div>
          </div>
          <div class="col-md-4">
              <div class="grid-block text-center blockflex">Block</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
              <div class="grid-block text-center blockflex">Block</div>
          </div>
          <div class="col-md-4">
              <div class="grid-block text-center blockflex">Block</div>
          </div>
          <div class="col-md-4">
              <div class="grid-block text-center blockflex">Block</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
              <div class="grid-block text-center blockflex">Block</div>
          </div>
          <div class="col-md-4">
              <div class="grid-block text-center blockflex">Block</div>
          </div>
          <div class="col-md-4">
              <div class="grid-block text-center blockflex">Block</div>
          </div>
        </div>
      </div>
    <div>


{% endblock %}